@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000;
  --background-start-rgb: #d6dbdc;
  --background-end-rgb: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fff;
    --background-start-rgb: #1b1b1b;
    --background-end-rgb: #141414;
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}
