@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000;
  --background-start-rgb: #d6dbdc;
  --background-end-rgb: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fff;
    --background-end-rgb: #111827;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-end-rgb);
}
